.site-layout-content {
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.site-layout .site-layout-background {
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.layout {
  height: 100%;
}
.form-carousel__container {
  border: 0 solid rgb(0, 0, 0);
}

.form-carousel__nav-container button {
  padding: 2px 5px;
  margin: 0 5px;
  width: 100px;
  border: 0;
}
.title-style {
  font-size: 26;
  font-weight: bold;
  font-family: "Gilroy-ExtraBold";
  flex-direction: row;
}






.presentation-mode .my-slide {
  display: flex;
  height: 100vh;
  background: #fff;
}
.presentation-mode .my-slide h1, .presentation-mode .my-slide h2, .presentation-mode .my-slide h3, .presentation-mode .my-slide h4, .presentation-mode .my-slide h5, .presentation-mode .my-slide h6, .presentation-mode .my-slide p, .presentation-mode .my-slide ul, .presentation-mode .my-slide ol {
  border: 0;
  margin: 10px auto;
  padding: 0;
  display: inline-block;
  width: 100%;
}
.presentation-mode .my-slide.complex {
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}
.presentation-mode .my-slide.complex h1, .presentation-mode .my-slide.complex h2, .presentation-mode .my-slide.complex h3, .presentation-mode .my-slide.complex h4, .presentation-mode .my-slide.complex h5, .presentation-mode .my-slide.complex h6, .presentation-mode .my-slide.complex p, .presentation-mode .my-slide.complex ul, .presentation-mode .my-slide.complex ol {
  margin-bottom: 30px;
}
.presentation-mode .my-slide ul, .presentation-mode .my-slide ol {
  margin: 10px;
  padding-left: 75px;
}
.presentation-mode .my-slide ol li {
  list-style: decimal !important;
}
.presentation-mode .my-slide ul li {
  list-style: disc;
}
.presentation-mode .my-slide p {
  font-size: 1.2em;
}
.presentation-mode .my-slide strong, .presentation-mode .my-slide em {
  color: #ccc;
}
.presentation-mode .my-slide a {
  color: #d6d600;
  border-bottom: 3px dotted #d6d600;
  text-decoration: none;
}
.presentation-mode .my-slide iframe, .presentation-mode .my-slide img {
  width: 100vw;
  height: 100vh;
  margin: -75px;
}
.presentation-mode .my-slide ul, .presentation-mode .my-slide ol, .presentation-mode .my-slide li {
  text-align: left;
}
.presentation-mode .my-slide blockquote {
  position: relative;
  color: #f5f5f5;
  text-align: left;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  padding-left: 50px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.presentation-mode .my-slide blockquote:before {
  color: #ccc;
  content: open-quote;
  position: absolute;
  left: 10px;
  top: 30px;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.presentation-mode .my-slide blockquote p {
  display: inline;
}
.presentation-mode .my-slide.primary {
  background-color: #009;
}
.presentation-mode .my-slide.secondary {
  background-color: #4d0099;
}
.presentation-mode .my-slide.content {
  background-color: #004d99;
}
